<!DOCTYPE html>
<html lang="en">{% include header.html %}

<body>{% include nav.html %}<section class="about">
    <div class="container">
      <div class="row">
        <div class="col text-center mt-5 mb-5">
          <h1 data-aos="fade-down">ABOUT.</h1>
        </div>
      </div>
      <div class="row">
        <!-- <div class="col-lg-4 mb-5"> <img src="/assets/img/foto.png" class="foto shadow-lg" data-aos="slide-right"> </div>-->
        <div class="col-md-6 offset-md-3 mb-5" data-aos="slide-left">
          <p class="summary mb-5 text-justify"> Hello! My name is Zul Hilmi. I’m an instructor who teach Computer
            Scince. I was born in Bandung, Indonesia. I would like to contribute for educational content. And I create
            random videos about programming on YouTube channel. </p><a href="https://twitter.com/hilmi_zul"
            class="mr-3 socmed" target="__blank"><i class="fa fa-twitter-square fa-2x text-primary"></i></a> <a
            href="https://instagram.com/hilmi_zul" class="mr-3" target="__blank"><i
              class="fa fa-instagram fa-2x text-pink"></i></a> <a href="https://youtube.com/hilmizul" class="mr-3"
            target="__blank"><i class="fa fa-youtube-square fa-2x text-danger"></i></a> <a href="http://soundcloud.com/hilmi_zul/"
            class="mr-3" target="__blank"><i class="fa fa-soundcloud fa-2x text-orange"></i></a> <a
            href="https://github.com/hilmizul" target="__blank"><i class="fa fa-github-square fa-2x"></i></a>
        </div>
      </div>
    </div>
  </section>{% include js.html %}</body>

</html>